@import url(./common/header.css);
@import url(common/reset.css);
@import url(./common/footer.css);
@import url(common/container.css);

/* container */

.container {
  width: 100%;
  height: auto;
}
.container .login {
  /* 전체높이 - header높이 - footer높이 - padding */
  /* height: calc(100vh - 100px - 150px); */
  box-sizing: border-box;


  display: flex;
  justify-content: center;
  align-items: center;
  /* 반대축 -> 주축과 반대 */
}

.container .login .login_data {
  width: 100%;
  box-sizing: border-box;
  border: 3px solid #000000;
  padding: 20px 10px;
}

.container .login .login_data .title {
  width: 100%;
  height: auto;
  background-color: #000000;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
}

.container .login .login_data ul {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container .login .login_data ul li {
  /* background-color: #000000; */
  color: #fff;

  align-items: center;
}

.container .login .login_data ul li:nth-child(1) {
  background-color: silver;
  color: #fff;
  /* text-align: center; */
  justify-content: center !important;
  /* 최우선적용 */
  padding: 15px 0;
}

.container .login .login_data ul li {
  box-sizing: border-box;
  border: 1px solid #000000;
  background-color: silver;

  display: flex;
  justify-content: space-between;
}

.container .login .login_data ul li [type=reset] {
  display: flex;
  background-color: #000000;
  color: #fff;
}

.container .login .login_data ul li [type=submit] {
  display: flex;
  background-color: #000000;
  color: #fff;
}

.container .login .login_data ul li input {
  display: flex;
  flex: 1 4;
  justify-content: center;
  margin: 5px 10px;
}

.container .login .login_data ul li label {
  flex: 1;
}

.container .login .login_data ul li .right {
  display: flex;
  flex: 4;
}