@import url(./common/reset.css);

h1 {
  width: 200px;
  background-color: #ff0000;
}

h2 {
  width: 150px;
  height: 100px;
  background-color: #fff000;
}

h3 {
  width: 100px;
  height: 80px;
  background-color: #0000ff;
}

h4 {
  width: 400px;
  height: 50px;
  background-color: #ff00ff;
  color: blue;
}

p {
  width: 500px;
  /* border-width: 3px;
  border-color: #000000;
  border-style: solid; */
  border: 3px solid #000000;  /* border 굵기 선종류 색상 */
  border-radius: 14px 14px 12px 10px; /* border 라운드 */
  line-height: 30px;  /* 문단 높이 */
  text-align: center; /* 텍스트의 가로정렬 */
  margin: 0 auto;
  text-indent: 20px;  /* 첫줄 들어쓰기 */
  overflow: scroll; /* 오버플로우 방식 */
}

.pp{
  width: 500px;
  /* border-width: 3px;
  border-color: #000000;
  border-style: solid; */
  border: 3px solid #000000;  /* border 굵기 선종류 색상 */
  border-radius: 14px 14px 12px 10px; /* border 라운드 */
  line-height: 30px;  /* 문단 높이 */
  text-align: center; /* 텍스트의 가로정렬 */
  padding: 20px;
  margin: 0 auto;
  text-indent: 20px;  /* 첫줄 들어쓰기 */
  overflow: scroll; /* 오버플로우 방식 */
}